html, body{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}
a{
    color: var(--dark);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
button, input[type = "submit"]{
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.text{
    font-weight: 400;
    /* opacity: 0.9; */
    line-height: 1.6;
    letter-spacing: 1px;
}
.form-control{
    width: 100%;
    margin: 0.6rem 0;
    max-width: 500px;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.btn{
    padding: 0.7rem 2.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
    background-color: var(--orange);
    color: #fff;
    border: 1px solid var(--orange);
}
.btn:hover{
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

/* css stop transition and animation */
.resize-animation-stopper *{
    -webkit-animation: none!important;
            animation: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

.py-4{
    padding: 4rem 0;
}
img{
    width: 100%;
    display: block;
}
.title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.lg-title{
    font-size: 1.8rem;
}
.sm-title{
    display: block;
    color: var(--orange);
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}
.my-2{
    margin: 2rem 0;
}
.shadow:hover{
    -webkit-box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
            box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}

.search-box{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #f99c42;
    border-style: solid;
    outline: none;
}

.search-box:hover, .search-box:focus{
    border-color: #f99c42;
}

.input-wrapper{
    width: 300px;
    float: right;
    margin-right: 65px;
}
.input-wrapper:before {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    margin-top: 14px;
    margin-left: 12px;
    color: #f99c42;
}

.close-btn {
    position: absolute;
    border: none;
    display: none !important;
    width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
    top: -1px;
    bottom: 0;
    right: 10px;
    margin: auto;
    color: #f99c42;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .1s;
}

.show-close-btn{
    display: block !important;
}
